.player-background {
    border-radius: 20px;
}

.badge.badge-outline {
    background-color: transparent;
}

.badge.badge-outline.badge-info {
    border: 1px solid var(--info);
    color: var(--info);
}

.badge.badge-outline.badge-secondary {
    border: 1px solid var(--secondary);
    color: var(--secondary);
}

.video-box {
    position: relative;
}

.video-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.video-loading-overlay {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.video-resuming {
    width: 100%;
    background-color: rgba(0,0,0,.6);
    font-style: italic;
    color: #fff;
    padding: 1rem;
}
