.media-card-progress {
    height: 0.35rem !important;
    border-radius: 0 !important;
}

.media-card-img {
    height: calc(100% - 0.35rem);
    object-fit: cover;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.box-shadow {
    box-shadow: none;
    transition: .10s box-shadow ease-in-out;
}

.box-shadow:hover, .box-shadow:focus {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
