@media (min-width: 576px) {
    .sort-of-center {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .sort-of-center {
        margin-left: 2.5rem;
    }
}

@media (min-width: 992px) {
    .sort-of-center {
        margin-left: 10rem;
    }
}

@media (min-width: 1200px) {
    .sort-of-center {
        margin-left: 15rem;
    }
}

.media-control-background {
    height: 20% !important;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6)) !important;
}