.player {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;

    .bg-dark {
        background-color: rgba(0,0,0,.4) !important;
    }

    .player-dark-blur {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
        top: 0;
        left: 0;
        z-index: 0;
    }

    .player-dark-overlay {
        z-index: 1;

        h2 {
            font-size: 2.5vw;
        }

        @media (max-width: 768px) {
            h2 {
                font-size: 4vw;
            }
        }
    }
}

.player-center-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /*z-index: 3;*/
}
