/* makes the page not move when scrollable */
html { overflow-y: scroll; }

/* overrides modal adding padding */
body { padding-right: 0 !important; }

.logo {
    display: inline-block;
    vertical-align: middle;
    -webkit-mask: url(./assets/ninja.svg) no-repeat center;
    mask: url(./assets/ninja.svg) no-repeat center;
    background-color: #007bff;
}